:org.apache.felix.configadmin.revision:=L"1"
aggregationPriority="LOW"
alias=""
apiTimeout=I"60"
apikey="${EDGE_APIKEY}"
debugMode=B"false"
enabled=B"true"
id="ctrlBackend0"
persistencePriority="HIGH"
proxyAddress=""
proxyPort=I"0"
proxyType="HTTP"
resendPriority="HIGH"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.default"
uri="${EDGE_BACKEND_URI}"
