:org.apache.felix.configadmin.revision:=L"1"
apiKey="${INFLUX_TOKEN}"
bucket="${INFLUX_BUCKET}"
id="timedata0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="${INFLUX_MEASUREMENT}"
org="${INFLUX_ORG}"
poolSize=I"10"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.default"
url="${INFLUX_URL}"
