:org.apache.felix.configadmin.revision:=L"1"
alias=""
capacity=I"${ESS_CAPACITY_WH}"
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"${ESS_INITIAL_SOC_PCT}"
maxApparentPower=I"${ESS_MAX_APPARENT_POWER_VA}"
maxChargePower=I"${ESS_MAX_CHARGE_W}"
maxDischargePower=I"${ESS_MAX_DISCHARGE_W}"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.ess0"
